@page "/"

<h1 class="display-4">Hello, world!</h1>

<div>
    This app implements a set of tools to decrypt and encrypt the most widely known encryption techniques as
    <a href="https://en.wikipedia.org/wiki/Caesar_cipher">Caesar Cipher</a>  and <a href="https://en.wikipedia.org/wiki/Polybius_square">Polybius Square</a>
</div>

<div>
    Use the panel to select the desired one
</div>
