@page "/"

<h1>Hello, world!</h1>

<div>
    This app implements a set of tools to decrypt and encrypt the most widely known encryption techniques as
    <a href="https://en.wikipedia.org/wiki/Caesar_cipher">Caesar cipher</a>, ...
</div>

<div>
    Use the left panel to select the desired one
</div>
